body {
}

div div div ul {
    list-style: none;
    border: 1px solid #EBF5FB;
    border-radius: 5px;
}

    div div div ul li {
        border-bottom: 1px solid #EBF5FB;
    }

        div div div ul li a {
           
            font-family: Arial,sans-serif;
        }
