<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Admin</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../Css/Admin.css" rel="stylesheet" />


</head>
<body>
    <form id="form1" runat="server">
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top text-right" style="background: #152235; color: white;" id="navegador">
                <div class="container " id="menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar3" class="navbar-collapse collapse" style="background: #152235;">
                        <ul class="nav navbar-nav navbar-right">

                            <li><a>Salir</a></li>
                            <li><a href="#">Mi perfil</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="padding-top: 80px;">
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="background-color: #EBEDEF; border-radius: 15px;">
                    <ul>
                        <li><a href="../AdminPaginas/Admin.aspx">Listado de usuarios</a></li>
                        <li><a href="../AdminPaginas/Cursos.aspx">Listado de cursos</a></li>
                        <li><a href="../AdminPaginas/Grupos.aspx">Listado de grupos</a></li>
                        <li><a href="../AdminPaginas/Temas.aspx">listado de temas</a></li>
                    </ul>

                    <ul>
                        <li><a href="../AdminPaginas/AgregarCurso.aspx">Agregar cursos</a></li>
                        <li><a href="../AdminPaginas/AgregarTema.aspx">Agregar temas</a></li>

                    </ul>

                </div>
                <div class="col-lg-9" style="background-color: #F2F4F4; border-radius: 15px; padding-bottom: 10px;">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>

            </div>

        </div>

        <!--- Footer  -->

        <hr />

        <footer>
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2017 GAMU.com &middot; </p>
            </div>
        </footer>

        <!--- Footer -->
    </form>
</body>
</html>