body * {

}

.boton-crear-grupo {
    width: 50%;
    margin-left: 30%;
}
.conten-boton {
    margin: auto;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.url-imagen {
    margin-top: 7px;
    margin-left: 0px;

}


.imagen {
    text-align: center;
}

.imagen > img {
    width: 25%;
    background: #f7f5f5;
    border-radius: 60px;
    padding: 15px;
}